* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 4rem 0 0rem 0;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
p {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: aqua;
  text-shadow: 0 0 1px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}
button {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #282c34;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #282c34;
  color: #fff;
}
button:active {
  background-color: #282c34;
  color: #fff;
}
button:focus {
  background-color: #282c34;
  color: #fff;
}
input {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #282c34;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
input:hover {
  background-color: #fff;
  color: #282c34;
  border: 1px solid #282c34;
}
input:active {
  background-color: #fff;
  color: #282c34;
  border: 1px solid #282c34;
}
input:focus {
  background-color: #fff;
  color: #282c34;
  border: 1px solid #282c34;
}

@media screen and (max-width: 500px) {
  body {
    background-color: #fff;
  }
  h1 {
    font-size: 1.5rem;
    margin-top: 30%;
  }
  p {
    font-size: 2rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto;
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
  }
  button {
    font-size: 1rem;
  }
  input {
    font-size: 1rem;
  }
}
