.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.error-wrapper h1 {
  font-size: 3rem;
  color: #282c34;
}
.error-wrapper button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 2rem;
  color: #282c34;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.error-wrapper button:hover {
  background-color: #282c34;
  color: #61dafb;
}
.error-wrapper button:active {
  background-color: #282c34;
  color: #61dafb;
}
.error-wrapper button:focus {
  background-color: #282c34;
  color: #61dafb;
}
.wrong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.wrong h2 {
  font-size: 3rem;
  color: red;
}
.wrong p {
  font-size: 2rem;
  color: red;
}

@media screen and (max-width: 500px) {
  body {
    background-color: #fff;
  }
  .error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  .error-wrapper h2 {
    font-size: 1.5rem;
    color: #282c34;
  }
  .error-wrapper button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #282c34;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .error-wrapper button:hover {
    background-color: #282c34;
    color: #61dafb;
  }
  .error-wrapper button:active {
    background-color: #282c34;
    color: #61dafb;
  }
  .error-wrapper button:focus {
    background-color: #282c34;
    color: #61dafb;
  }
  .wrong {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  .wrong h2 {
    font-size: 1.5rem;
    color: red;
  }
  .wrong p {
    font-size: 2rem;
    color: red;
  }
  .wrong button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #282c34;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .wrong button:hover {
    background-color: #282c34;
    color: #61dafb;
  }
  .wrong button:active {
    background-color: #282c34;
    color: #61dafb;
  }
  .wrong button:focus {
    background-color: #282c34;
    color: #61dafb;
  }
}
